<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrFI7gPpTI9c8QPix3GRdnt68zEQdl1ng</string>
	<key>GCM_SENDER_ID</key>
	<string>415982816327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olgunbingol.eksisozlukClone</string>
	<key>PROJECT_ID</key>
	<string>eksisozlukclone-b1430</string>
	<key>STORAGE_BUCKET</key>
	<string>eksisozlukclone-b1430.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415982816327:ios:e6b74d904c413bf260f562</string>
</dict>
</plist>